Package: ufispace-stat-led-control
Source: ufispace-bsp-utils
Version: 3.0.13-0vyatta8
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 24
Depends: python3:any (>= 3.3~), python3-ufispace-bsp-utils
Section: contrib/net
Priority: optional
Description: Package to control the STAT led
 The Ufi STAT led control support package for the D2SIAD platform.
