[Unit]
After=systemd-user-sessions.service
After=syslog.service vyatta-platform-name.service
Before=getty.target
IgnoreOnIsolate=yes
ConditionPathExists=/var/run/vyatta/platform/ufi.s9500-30xs

[Service]
ExecStart=/usr/sbin/ufi-stat-led-control sys on green solid
ExecStop=/usr/sbin/ufi-stat-led-control sys off yellow solid
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
