[Unit]
Description=Ufispace s9500 init
After=vyatta-platform-name.service
ConditionPathExists=/var/run/vyatta/platform/ufi.s9500-30xs

[Service]
ExecStart=python3 /usr/lib/python3/dist-packages/platform_utility.py init
Type=oneshot
RemainAfterExit=yes
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
